{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Registro{% endblock %}

{% block content %}
<div class="container">
  <div class="col-sm-6 mx-auto">
    <div class="card mt-3">
      <div class="card-header">
        <h1 class="text-center">Regístrate</h1>
      </div>
      <div class="card-body">
        
        <form method="post">
          {% csrf_token %}
          {{ form|crispy }}
          <button type="submit" class="btn btn-primary btn-block">Regístrar</button>
          <a class="btn btn-secondary btn-block" href="{% url 'login' %}">Iniciar Sesion</a>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}